<html>

<head>
    <style>
        ul {
            list-style-type: none;
        }
        
        p {
            font-size: 50px;
            color: black;
            margin: 10px;
            text-align: center;
            text-decoration: underline;
        }
        
        li {
            text-align: center;
            color: red;
            margin: 10px;
            padding: 10px;
            font-size: 30px;
            background-color: #CCFFFF;
        }
    </style>
</head>

<body>
    <p>
        Fruits I like
    </p>
    <ul>
        <li>
            Apple
        </li>
        <li>
            Mango
        </li>
        <li>
            Gauva
        </li>
        <li>
            Strawberry
        </li>
        <li>
            Pineapple
        </li>
        <li>
            Cherries
        </li>
        <li>
            Grapes
        </li>
    </ul>
</body>

</html>